{
  "id": "{{app_id}}",

  "cpus": 1.0,
  "mem": {{memory}},
  "instances": {{instances}},

  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "docker.moscow.alfaintra.net/{{image_name}}:{{image_version}}",
      "forcePullImage": true,
      "network": "BRIDGE",
      "portMappings": [
        { "containerPort": 8080, "hostPort": 0, "servicePort": 0, "protocol": "tcp" }
      ],
      "parameters": [
        { "key": "env", "value": "NODE_ENV=PRODUCTION"},
        { "key": "dns", "value": "172.17.42.1" },
        { "key": "env", "value": "LOGSTASH_HOST=172.17.42.1"},
        { "key": "env", "value": "LOGSTASH_PORT=5959"}
      ]
    }
  },

  "cmd": "{{start_command}}",

  "backoffFactor": 2,
  "backoffSeconds": 30,
  "maxLaunchDelaySeconds": 3600,

  "healthChecks": [
    {
      "protocol": "HTTP",
      "portIndex": 0,
      "path": "/healthmonitor",
      "gracePeriodSeconds": 5,
      "intervalSeconds": 20,
      "maxConsecutiveFailures": 3
    }
  ],

  "upgradeStrategy": {
      "minimumHealthCapacity": 0.5,
      "maximumOverCapacity": 0.5
  }
}
